h1 {
    color: maroon;
}

h2 {
    color: blue;
}

span {
    display: flex;
}

.premierp {
    color: brown;
}

.troisiemep {
    color: yellow;
    font-size: 3rem;
}

li {
    padding: 20px;
}

.premierli {
    font-size: 3rem;
    font-weight: bold;
    color: red;
    text-align: start;
}

.deuxiemeli {
    text-align: center;
}

.troisiemeli {
    text-align: end;
}

.quatriemeli {
    text-align: left;
}

.divmaman {
    display: flex;
    justify-content: end;
}
.div1 {
    height: 200px;
    width: 200px;
    background-color: green;
    border-radius: 50%;
}
.div2 {
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
}
.div3 {
    height: 200px;
    width: 200px;
    background-color: blue;
    border-radius: 50%;
}

.divspacebetween {
    display: flex;
    justify-content: space-between;
}
.divspacebetween div {
    height: 200px;
    width: 200px;
    background-color: blue;
    border-radius: 50%;
}

.divspacearound {
    display: flex;
    justify-content: space-around;
}
.divspacearound div {
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
}

.divspaceevenly {
    display: flex;
    justify-content: space-evenly;
}
.divspaceevenly div {
    height: 200px;
    width: 200px;
    background-color: seagreen;
    border-radius: 50%;
}

.divspacecenter {
    display: flex;
    justify-content: center;
}
.divspacecenter div {
    height: 200px;
    width: 200px;
    background-color: yellow;
    border-radius: 50%;
}

.bonjour {
    display: flex;
    justify-content: center;
    align-items: center;
}